.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  background-color: #141534;
  color: #fff;
  outline: none;
  border: none;
  padding: 20px;
  border-radius: 15px;
  font-size: 18px;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
  width: 360px;
  height: 20px;
  flex-shrink: 0;
}

.input::placeholder{
  color:#2f315e;
}

.input:focus {
  border: 1px solid #7871FF;
}

.containerInput {
  position: relative;
}

.image {
  transform: translateY(-50%);
  cursor: pointer;
  transition: all ease .3s;
}

.input:focus ~ .button {
  display: block;
}

.inputLabel {
  position: absolute;
  top: 5px;
  left: 20px;
  font-size: 12px;
  color: #7D77FF;
  transition: opacity 0.3s;
}

.input:focus ~ .inputLabel {
  opacity: 0;
}

.button{
  position: absolute;
  top: 30px;
  right: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
}

.inputError{
  border:1px solid red;
  background-color: #fff;
  color: red;
}